@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 10px;
}
body{
    overflow-x:hidden;
}
section{
    overflow-x: hidden;
}
a{
    text-decoration:none;
}
header
{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin:2 auto;
    padding: 2rem 5rem;
    background: #f3f3f3;
}

nav{
    width: 100%;
    height: 6.5rem;
    position: fixed;
    background-color: white;
    z-index: 100;
    
}

.reg-link{
    color: white;
}

.logo a{
    color: #0056b3;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 6.5rem;

}
.nav-button{
    border-radius: 3rem;
    background-color:rgb(243, 175, 65);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.2rem 5.5rem;
}


.wrapper{
    width: 95%;
    height: 2.5rem;
    margin: 0 auto;
    z-index: 1000;
}
.wrapper .nav-links{
    float: right;
    
}
.nav-links li{
    list-style: none;
    display: inline-block;
    line-height: 6.5rem;
}
.nav-links li a{
    color:rgb(122, 119, 119);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all 0.5s ease;
}
.nav-links .drop-menu{
    background-color: rgb(6, 6, 6);
    width: 95vw;
    height: 50vh;
    left: 2rem;
    top: 6.5rem;
    line-height:4.5rem;
    position: absolute;
    opacity: 0;
    transform: translateY(-100%);
    visibility: hidden;
    z-index: 1000;
    border-radius: 1rem;
}
.nav-links li:hover a{
    color: rgb(243, 175, 65);
}

/* .wrapper a {
    color: rgb(243, 175, 65);

} */
.nav-links li:hover .drop-menu{
    top: 6.5rem;
    opacity: 1;
    visibility: visible;
    transition:  1s ease-in-out;
    transform: translateY(0);
}
.nav-links li:hover .drop-menu{
    top: 6.5rem;
    opacity: 1;
    visibility: visible;
    transition:  1s ease-in-out;
    transform: translateY(0);
    
}


.drop-menu img:nth-child(3), .drop-menu img:nth-child(5){
    position: fixed;
    right: 0;

}
.checkbtn{
    font-size: 3rem;
    color:#0d5be9;
    float: right;
    line-height:4.5rem;
    margin-right: 2rem;  
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

.header-1{
    flex-basis:40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0 4rem 0;
    margin-top: 2rem;
    /* justify-content:space-evenly; */
}
.header-1 div{
    justify-self: flex-end;
    display: flex;
    gap: 6rem;
    
}

.header-1 span {
    margin-left: 8rem;
    margin-bottom: 2rem55;
}



.shake {
    font-size: 4rem;
    /* margin-top: .5rem; */
}
.header-1 h2{
    margin-top: 4rem;
    
    font-weight: 400;
    font-size: 2rem;
    color: #212529;
}
.header-1 h1 img{
    display: inline-block;
    vertical-align: middle;
    margin-left: 28rem;
}

.header-1 .poo {
    margin-right: 48rem;
}



.header-1 .name{
    margin-right: 43rem;
}

.header-1 p{
    font-weight: 400;
    font-size: 2rem;
    color: #333232;
    margin-top: 3rem; 
}

.header-1 img {
    height: 10rem;
}

.logo a{
    color: rgb(243, 175, 65);

}

.fa {
    margin-top: 2rem;
    font-size: 8rem;
}

.header-1 h3{
    font-weight: 400;
    font-size: 2rem;
    color: #333232;
    margin-top: 5rem;
    margin-right: 52rem;
}

.girl {
    /* border: 1px solid rgba(0, 0, 0, 0.133); */
    /* border-radius: 50%; */
    width: 15rem;
    margin-right: 10rem; 
    margin-top: 5rem;
    
}

.header-1 a{
    text-decoration: none;
    color: #ffffff; 
    font-size: 2rem;
    font-weight: 400;
    
}

.header-1 li{
    font-size: 2rem;
    font-weight: 400;
    margin-top: 3rem;
    /* margin-right: 15rem; */
}
.button3{
    background-color: #fff;
    border: 2px solid #0d5be9;
    border-radius: 100px;
    padding: 14px 53px;
    font-size: 12px;
    display: inline-block;
}
.header-2{
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height:100;
    margin: 0 auto;
    margin-top: 5rem;

}
.header-2 > img{
    align-self: flex-end;
    width: 80%;
    height: 80%;
    margin-bottom: 20rem;
}
.note-cards{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height:95%;
    width: 90%;
    margin: 0 auto;
}

.note-cards div{
    background-color:rgb(243, 175, 65) ;
    border-radius:1.2rem;
}
.book img, .house img{
    width: 4.5rem;
    height: 4.5rem;
}
.popover{
    display: flex;
    padding: 1rem 1rem;
}
.inner1{
    padding: 1rem;
}
.inner1 p{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}
.inner1 span{
    color: #1865f2;
    font-weight: 700;
    font-size: 3rem;
}
.note-cards .house1 img{
    width: 4rem;
    height: 4rem;
}
.book{
    margin-left: 6rem;
}
.house{
    margin-top: 2rem;
    align-self: flex-end;
}
header .header-2 .house-1{
    justify-self: flex-end;
    align-self: flex-start;
    position: relative;
    top: 1rem;
}

.title h2 {
    margin-top: 3rem;
    margin-right: 57rem;
    margin-bottom: 5rem;
    
}
.section-1{
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 0 auto; 
    padding-bottom: 15rem;
}
.title{
    width:50%;
    font-weight: 600;
    font-size: 2rem;
    color: #212529;
    text-align: center;

}

.project{
   font-size: 5rem;
   margin-right: 15rem;
}

#institutions{
    /* display: flex; */
    /* flex-direction: row; */
    width: 85vw;
    /* align-items: center; */
    /* margin-right: 37rem; */
    margin-left: 6rem;
    /* margin-top: 2rem; */
    margin-bottom: 1rem;
    
}

.fa-brands {
    font-size: 8rem;
   
}

.cont3 h1{
   position: relative;
   right: 4.3rem;
}

.cont4 .fa-brands {
   position: relative;
   right: 2rem;
}

.cont5 h1 {
    position: relative;
   right: 3rem;
}

.cont5 p {
    margin-left: 2.4rem;
}

#institutions p {
    font-size: 2rem;
    font-weight: 400;
   /* margin-right: 5rem; */
   position: relative;
   bottom: 10rem;
   left: 12.5rem;
}

.cont5 {
    position: relative;
    right: 2.5rem;
}

.cont6 {
    position: relative;
    right: 2.5rem;
}

.cont6 h1 {
    position: relative;
    right: 4.5rem;
}

#institutions div img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.section-2{
    width: 90vw;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin: 2rem auto;
    
}
.advantages{
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}
.advantages div img, .popover2 div img{
    width: 4rem;
    height: 4rem;
}
.advantages div h4{
    font-weight: 600;
    font-size: 1.8rem;
}
.advantages div p{
    color: #595959;
    font-weight: 400;
    font-size: 1.5rem;
}
.section-3{
    width: 100vw;
    display:flex;
    background-color: #ececec;
    padding: 2rem 5rem;
    gap: 5rem;
}
.inner2{
    padding: 1rem .2rem;
}
.inner2 p{
    font-size: 1.2rem;
    font-weight: 600;
    color: #1f1f1f;
}
.inner2 span,.python-box p:nth-child(4){
    color: #1db954;
    font-weight: 700;
    font-size: 1.6rem;
}


.image-pop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding:0 8rem;
    height: 100%;
    flex-basis: 60%;
}
.popover2{
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 999;
    height: 95%;
    width: 80%;
    justify-content: space-between;
    align-items: flex-start;  
    top:0; 
}
.image-pop >img{
    height: 100%;
    width:95%;
    align-self: flex-end;
}

.bold-span{
   font-size: 2rem;
   margin-left: 1rem;
   margin-top: 1rem;
}

.popover2 >div{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 1.2rem;
    padding: .7rem 1.5rem;
}
.popover2 div button{
    font-size: .8rem;
    font-weight: 400;
    color:#1865f2;
    background-color: rgba(24, 101, 242, 0.2);
    padding: 1em 1rem;
    border-radius: 2rem;
}
.popover2  div:nth-child(2){
    align-self: flex-end;
}
.popover2  div:last-child{
    position: relative;
    left: -2rem;    
}

.image-pop ~div h5{
    font-size: 2rem;
    font-weight: 500;
    color: #0a0a0a;
    margin: 2rem 0 1rem 0;
}
.image-pop ~div p{
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0;
}
.image-pop ~div{
    flex-basis: 40%;
}

.section-4{
    display: flex;
    background-color:rgb(243, 175, 65);
    width: 100vw;
    height: 48vh;
    padding: 5rem 2rem 1rem 5rem;
    gap: 2rem;
    position: relative;
}
.teachers {
    flex-basis: 40%;
    color: #333232;
    align-self: center;
    margin-bottom: 10rem;
    padding-left: 8rem;
}

.edu {
    margin-top: 1rem;
    font-size: 4rem;
}

.teachers h3, .section-6 div h4{
    font-size: 2.8rem;
    font-weight: 500;
    color: #0a0a0a;
    margin-left: 5rem;
}
.teachers p,.section-6 div h3 {
    font-weight: 400;
    font-size: 1.6rem;
    color: #595959;
    padding: 2rem 0;
    
}

.teahcers .po {
  position: relative;
  left: 5rem;
}


.teachers .button2{
    font-size: 1.4rem;
    color: white;
    font-weight: 500;
    background-color:#0a0a0a;
    border-radius: 100px;
    padding: 1.4rem 5rem;
}
.teachers-flex{
    position: relative;
    flex-basis: 60%;
    margin: 0 auto;
    /* margin-top: 2rem; */

}

.teachers-flex li{
    
    font-size: 2rem;
    font-weight: 400;
    color: #333232;
   margin-bottom: 2rem;
}

.teachers-flex h4 {
    margin-top: 2rem;
}
.flex-{
    display: flex;
    position: relative;
    align-self: flex-end;
}
.flex->div{
    background-color:white;
    border-radius: 1rem;
    display: flex;
    padding: 2rem 1.5rem 4rem 1.5rem;
    margin: 1rem 2rem;
}

.teachers li {
    font-size: 2rem;
    margin-bottom: 4rem;
    margin-top: 1rem;
}
.flex- >div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fin_2{
    padding: 2rem 1.5rem 6rem 6rem;

}

.flex- div div{
    display: flex;
    flex-direction: row;
}
.flex- div div img{
    height: 4rem;
    width: 4rem;
}
.flex- div div div{
    display: flex;
    flex-direction: column;
}
.flex- div div div h4,.section-5 div:first-child div p:nth-child(2){
    font-weight: 600;
    font-size: 1.2rem;
    color: #212529;
}
.flex- div div div div{
    flex-direction: row;
    align-items: center;
    
}

.inner{
    display: flex;
    color: #212529;
    font-size: 1.3rem;
    font-weight: 400 ;
    width: auto;
    height: auto;
    align-items: center;
    margin-bottom: 1rem;
}
.inner code{
    width: 5px; 
    height: 5px;
    background-color: black; 
    display: block; 
    border-radius: 50%; 
    margin-right: 5px; 
    margin-left: 5px;
}
button{
    outline: none;
    border: none;
    transition: .6s all ease-in;
}
.button1{
    border-radius: 3rem;
    background-color:rgb(243, 175, 65);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1.4rem 6rem;
    margin-top: 2rem;
}

.button1 a{
    color: white;
}
.section-5{
    margin:0 auto;
    display: flex;
    /* padding: 2rem; */
    background: #6f6d6d;
    justify-content:center;
    width: 100%;
    padding: 2rem 2rem 5rem 1rem;
    height: 100%;
    position: relative;
    padding-left: 5rem;

    /* gap: 5rem; */

}

.section-5 h1 {
    color:rgb(243, 175, 65);

      font-size: 5rem;
      font-weight: 600;
      margin-left: 4rem;
}

.button2 {
    margin-left: 4rem;
    margin-top: 2rem;
    color: #6f6d6d;


}

.student-sect{
    flex-basis: 60%;
    height: 60%;
    display: grid;
    grid-template-areas:
    'one . .'
    'one two .'
    '. two three'
    ' . . three';
    position: relative;
    column-gap: 4rem;
    

  
}
.python-box{
    background-color: white;
    border-radius: .8rem;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center; 
    padding: 2rem 1.2rem;   
    text-align: center; 
}
.python-box img{
    width: 8rem;
    height: 8.2rem;
}
.python-box p:nth-child(3),.inner{
    font-size: 1rem;
    font-weight: 500;
    width: max-content;
    color: #393939;
}
.python-box p:nth-child(4){
    font-size: 1.9rem;
}
.one{
    grid-area:one;
}
.two{
    grid-area: two;
}
.three{
    grid-area:three;
}

.students{
    flex-basis: 35%;
    align-self: center;

}
.students h3{
    color: #19a966;
    font-size: 1.3rem;
    font-weight: 700;
}
.students h4{
    font-size: 15px;
    color: #d2d2d2;
    font-weight: 400;
}
.students p{
    font-size: 2.8rem;
    font-weight: 500;
    color: #ffffff;
    margin: 1rem 0 2rem 0;
}
.students button{
    border: 2px solid white;
    background-color: #0a0a0a;
    margin-top: 2rem;
    color: white;

}
.section-6{
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    
}
.section-6 div{
    width: 50%;
    margin: 1rem auto;
    text-align: center;

}
button:hover{
    scale: 1.1;
    

}
@media (max-width:970px){
    .student-sect{
        column-gap: 2rem;
    }
    .header-1{
        flex-basis: 45%;
    }
    .header-1 div{
        flex-direction: column;
    }
    
}
@media (max-width:930px){
    .header-1{
        flex-basis: 35%;
    }
    .header-2{
        flex-basis: 65%;
    }
    .header-2 > img{
        align-self: flex-end;
        width: 90%;
        height: 100%;
    }
    .header-1 h1{
        font-size: 3.8rem;    
    }
    .flex- >div{
        padding: 2rem .5rem;
    }
    .student-sect{
        flex-basis: 55%;
    } 
    .students{
        flex-basis: 40%;
    }
    .section-5{
         gap: 3rem;
    }
}
@media (max-width:870px){
    .teachers-flex{
        flex-basis: 75%;
    }
    .header-1 h1{
        font-size: 2.8rem;    
    }
    
}
@media (max-width:845px){  
    .python-box{
        padding: 2rem 0;
    }
    .teachers{
        flex-basis: 25%;
    } 
    .section-5{
        gap: 2rem;
        flex-basis: 50%;
   }
   .students{
        flex-basis: 50%;

   }
} 
@media (max-width:768px){
    .checkbtn{
        display: block;
    }
    .nav-links{
        position: fixed;
        width: 95vw ;
        margin: 0 auto;
        height: 100vh;
        background-color:#fff ;
        z-index: 10;
        top: 6rem;
        left: -100%;
        text-align: center;
        transition: all .7s ease-in-out;
    }
    
    .header-1{
       flex-basis: 40%;
    }

    .header-2 {
        flex-basis: 60%;
        width: 100%; 
    } 
    
    .nav-links li   {
        display: block;
    }
    #check:checked ~ .nav-links{
        left :0;
    }
    .drop-menu{
        display: none;
    }
}
@media (max-width:760px) {
    header{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .header-1 div{
        margin-top: 3rem;
        flex-direction: row;
        
    }

    .header-1{
        width: 50vw ;
        text-align: center;
    }

    .header-1 {
        flex-basis: 40%;
        margin: 0 auto;
    }

    .header-2{
        flex-basis: 60%;
        width: 50vw;
        height: 100px;
    }

    .house-1{
        left:50%;
        transform: translateX(-50%);
    }
    .institutions{
        display: grid;
        width: 90vw;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;
    }
    .advantages{
        gap:.5rem
    }
    .section-3{
        flex-direction: column;
        margin: 0 auto;
    }
    .image-pop{
        flex-basis: 50%;
    }
    .section-4{ 
        padding-left: 0;
        flex-direction: column;
        width: 99vw;
        margin:0 auto;
    }
    .flex->div{
        margin: 1rem;
    }
    .teachers{
        width:90%;
        margin: 0 auto;
    }
    .teachers .button2{
        width: fit-content;
    }
    .teachers-flex{
        margin-bottom: 2rem;        
    }
    .section-5{
        

        flex-direction: column;
        
    }
    .student-sect{
        width: 100%;
        align-self: center;

    }
    .python-box p:nth-child(3){
        width: auto;
    }
    .python-box .button1, .section-4 button{
        width:80%;
        padding: 1rem;
        
    }
    .python-box img{
        width: 4rem;
        height: 4rem;
    }
    .section-6 div{
        width: 90%;
    }
}
@media (max-width:530px){
    .title{
        width: 90%;
    }
    .header-1 div{
        flex-direction: column;
    }
    
    .flex->div{
        margin: 1rem;
    }
    .flex- div div img,.advantages div img, .popover2 div img{
        height: 3rem;
        width: 3rem;
    }
    .book{
        margin-left: 0;
    }
    .house-1{
        left: 50%;
        transform: translateX(-100%);
    }
    .advantages{
        flex-direction: column;
        
    }
    .popover2{
        align-self:center;
        width: 99vw;
        margin:0 auto;
    }
    .popover2  div:nth-child(2){
        align-self: flex-end;
        position: relative;
        top:0rem
    }
    .popover2  div:last-child{
        left:0rem;    
    }
    .image-pop img{
        align-self: center;
        height: 100%;
        width: 90vw
    }
}
@media (max-width:480px){

    nav{
        position: fixed;
        /* bottom: 2rem; */
    }

    .section-4{
        height: 100%;
    }
    /* .project {
        position: relative;
        right: 5rem;
    } */

    /* .teachers .po {
        position: relative;
        left: 4rem;
    } */

    .header-1 .poo {
        position: relative;
        left: 24rem;
    }

    .header-1 .name {
        position: relative;
        left: 22rem;
    }

    .header-1 span {
        margin-left: .5rem;
        margin-bottom: 1.5rem;
    }

    .flex- div div div h4{
        font-size: 10px;
    }

    #institutions {
        position: relative;
        right: 5rem;
        width: 60vw;
    }

    .cont3 h1 {
        margin-left: 1.7rem;
    }
    .cont3{
        margin-left: 2rem;
    }

   .cont4 h1 {
      margin-left: 1rem;
   }
 
   .cont5 {
     margin-left: 2rem;
   }
   
   .cont5 h1{
      margin-left: 1.8rem;
   }

   .cont6 {
     margin-left: 1rem;
   }

   .cont6 .fa-brands{
    margin-left: 1rem;
   }

   .cont6 h1 {
     margin-left: 4rem;
     font-size: 1.7em;
     font-weight: 500;
   }

    .cont2 h1{
        margin-left: 1rem;
    }

    .inner span{
        font-size: 8px;
    }
    .note-cards{
        width: 100%;
    }

    

    .girl {
        margin-left: 4rem;
        margin-top:5rem;
    }

    .note-cards {
        margin-left: 3rem;
    }
    .header-2 .girl{
        align-self: center;
        position: relative;
        top: 8rem;
        height: 100%;
        width: 90vw;
    }

    .header-1 {
        /* align-self: center; */
        margin-top: 7rem; 
    }

    header{
        height: 100%;
    }

   

    .two {
        margin-left: .1rem;
    }
    
   
    .flex- div div {
        flex-direction: column;
        /* align-items: center; */
        
    }

    .flex- div div{
        
        flex-direction: column;
    }
    .section-5 {
        position: relative;
        right: 5rem;
        width: 113%;
    }

    .teachers{
        position: relative;
        right: 12rem;
    }
}
